.usersPageBlock {
  width: 100%;

  .pagination {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-top: 1rem;

    .selectPagination {
      width: 70px;
    }
  }

  .usersBlock {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
}
