.container {
  display: flex;
  flex-direction: column;

  width: 26.5rem;
  margin: 5rem auto 0;
  padding: 2.06rem 2.25rem;

  .title {
    margin-bottom: 1.69rem;
    text-align: center;
  }

  .formContainer {
    .inputBox {
      padding-bottom: 30px;
    }

    .checkBox {
      display: flex;
      align-items: center;
      color: var(--color-dark-300);
    }

    & input {
      cursor: pointer;
    }

    .submit {
      padding: 0.375rem 0;
      margin-top: 0.75rem;
    }
  }
}
