.postsBox {
  margin-top: 10px;
  .addPostBox {
    background-color: var(--color-palette-400);
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px;

    .addPostLabel {
      color: var(--color-accent-900);
    }
  }
}
