.root {
  display: flex;
  gap: 25px;
  align-items: center;
}

.container {
  display: flex;
  gap: 5px;
  list-style-type: none;
}

@mixin item {
  all: unset;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 0.65rem;
  height: 1.5rem;
  padding: 0 0.5rem;

  color: var(--color-light-100);
  background-color: var(--color-accent-500);

  border-radius: 4px;
}

.item {
  @include item;

  cursor: pointer;

  //&:focus-visible {
  //  outline: var(--color-info-900);
  //  stroke: var(--color-info-900);
  //  stroke-width: 2px;
  //}

  &:disabled {
    cursor: initial;
    opacity: 1;
  }

  &:hover:not(&:disabled) {
    background-color: var(--color-accent-300);
  }

  &.selected {
    color: var(--color-light-100);
    background-color: var(--color-dark-300);
  }
}

.dots {
  @include item;
}

.icon {
  .item:disabled & {
    color: var(--color-dark-100) !important;
  }
}

.selectBox {
  display: flex;
  gap: 12px;
  align-items: center;

  color: var(--color-text-primary);
  white-space: nowrap;
}

.select {
  flex-shrink: 0;
  width: 4.5rem;
  margin-right: 10px;
}
