.preloaderContainer {
    background-color: #fad6ca;
    height: 90vh;
    /* height: 100%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.preloader {
    width: 200px;
}