@import 'src/styles/mixins';

.header {
  display: flex;
  background-color: var(--color-palette-200);
  height: 80px;

  .contentBox {
    @include container();
    display: flex;
    justify-content: space-between;
    align-items: center;

    .networkName {
      margin-left: 20px;
    }

    .loginBlock {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .avatar,
      .userName,
      .logoutBtn {
        margin: 0 10px 0 0;
      }
      .avatar {
        min-height: 36px;
        min-width: 36px;
      }
    }
  }
}
