.header {
  width: 100%;
  background-color: var(--color-palette-200);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.networkName {
  margin-left: 20px;
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  color: var(--color-dark-900);
}

.loginContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginBlock {
}
