.header {
    display: flex;
    width: 100%;
    background-color: #fff7ec;
    height: 80px;
    /*justify-content: space-between;*/
    align-items: center;
}

.networkName {
    margin-left: 20px;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: #747474;
}

.loginBlock{
    float: right;
}
