.nav {
  width: 250px;
  //background-color: var(--color-palette-400);
  padding: 20px;
  min-height: 100vh;

  .item {
    display: flex;
    margin-bottom: 10px;

    & a {
      color: var(--color-dark-900);
      text-decoration: none;
      margin-left: 10px;
    }

    & a.activeLink {
      color: var(--color-dark-100);
      font-size: 20px;
    }
  }
}
