.paginator {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selectedPage {
    font-weight: bold;
    cursor: pointer;
}

.pageNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #0065ca;
    min-width: 25px;
    height: 30px;
    padding: 0 5px;
}

.pageNumber:hover {
    background-color: #a5b5d2;
    color: white;
}

.pageNumber.selectedPage {
    color: white;
    background-color: #7d93bd;
}

.usualSpan {
    cursor: pointer;
}