.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--color-palette-300);
  padding: 10px 10px 0 0;
  min-width: 250px;
  z-index: 9999;

  .item {
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;

    .link {
      display: flex;
      gap: 10px;

      width: 100%;
      text-decoration: none;
      span {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--color-dark-900);
        text-decoration: none;

        @media screen and (max-width: 767px) {
          display: none;
        }
      }
    }

    .activeLink {
      span {
        color: var(--color-palette-100);
      }
    }

    &:hover {
      background-color: var(--color-palette-400);
    }
  }

  @media screen and (max-width: 832px) {
    min-width: 200px;
  }

  @media screen and (max-width: 768px) {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
  }
}
