.nav {
  min-width: 250px;
  padding: 10px;
  min-height: 100vh;

  .item {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 4px;

    a {
      width: 100%;
      text-decoration: none;
      span {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--color-dark-900);
        text-decoration: none;
      }
    }

    .activeLink {
      span {
        color: var(--color-palette-100);
      }
    }

    &:hover {
      background-color: var(--color-palette-400);
    }
  }
}
