.wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  min-width: 240px;
  width: 100%;

  .buttonBox {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  .descriptionBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
