.header {
  background-color: var(--color-palette-200);

  .contentBlock {
    display: flex;
    height: 80px;
    margin: 0 auto;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;

    .userName {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    @media screen and (min-width: 767px) {
      width: 60%;
    }
  }
}
