.header {
  background-color: var(--color-palette-200);

  .contentBlock {
    display: flex;
    height: 80px;
    margin: 0 auto;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    width: 70%;

    .userName {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    @media screen and (max-width: 1042px) {
      width: 100%;
      padding: 0 10px;
    }

    @media screen and (max-width: 768px) {
      height: 60px;
    }
  }
}
