.preloaderContainer {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;

  .image {
    width: 600px;
    height: 600px;

    @media screen and (max-width: 1000px) {
      width: 100px;
      height: 100px;
    }
  }
}
