.container{
    width: 90vw;
    height: 90vh;
    /*height: 100%;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #fff7ec;
    border-radius: 10px;
    padding: 20px 20px;
}
.formContainer * {
    color: #747474;
    letter-spacing: 0.5px;
    outline: none;
    border: none
}
.formContainer h3 {
    margin: 0 auto;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.formContainer label {
    /*display: block;*/
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.input input{
    /*display: block;*/
    height: 50px;
    width: 300px;
    border: 1px solid #747474;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.input input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #fff7ec inset !important;
}

.input input:focus,
.input input:hover,
.input input:active {
    border-color: #a7e0e9;
}

.checkBox {
    display: flex;
    align-items: center;
}
.checkBox input  {
    cursor: pointer;
}

.formContainer button {
    width: 100%;
    background-color: #a7e0e9;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.formContainer button:hover {
    background-color: #68d7e5;
}

.error {
    color: #ce4467;
    padding: 10px 10px;
}

.sbtButton {
    width: 100%;
    padding: 0 10px;
}

.testData {
    /*width: 352px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.testData p {
    color: #747474;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 1em;
}