.profileInfoBox {
  //width: 100%;
  .profileBox {
    display: flex;
    padding: 10px;
    margin-top: 10px;
    gap: 10px;

    background-color: var(--color-palette-400);
    border-radius: 4px;
    .avatarBox {
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 10rem;
      height: 10rem;

      font-size: calc(6rem * 0.8);

      .avatar {
        width: 10rem;
        height: 10rem;
      }

      .avatarEdit {
        cursor: pointer;

        position: absolute;
        right: 0;
        bottom: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 1.5rem;
        height: 1.5rem;

        background-color: var(--color-dark-300);
        border-radius: 0.25rem;
        box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);

        border: none;

        &:hover {
          background-color: var(--color-dark-100);
        }

        &:active {
          background-color: var(--color-dark-500);
        }
      }

      .mainPhotoInput {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 10px;
        height: 10px;

        opacity: 0;
      }
    }
  }
  .statusBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-palette-400);
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px;
  }
}
